---
# Set fabric name
fabric_name: AVD_FABRIC

# Define the AVD design
design:
  type: mpls

# Define BGP AS for MPLS
bgp_as: '6.6971'

# Change RT fields
overlay_rt_type:
  admin_subfield: bgp_as

# fabric evpn encap
fabric_evpn_encapsulation: mpls

#define local users
local_users:
  - name: cvpadmin
    privilege: 15
    role: network-admin
    sha512_password: "$6$ZSpmKHG8tfWO/BQg$qMy2VGDhmykJ.VDcO5LiW9B6pf0TS7zVe4jLwaCiIjxNwBEOXodwhsIwFUD3UuLAR.aDtVZh3DIuSr5X12dmB0"

#Timezone
clock:
  timezone: CST

#aaa authorization exec
aaa_authorization:
  exec:
    default: local

# DNS servers.
name_servers:
 - 8.8.8.8
 - 8.8.4.4

dns_domain: EDJ.poc

# Logging
custom_structured_configuration_logging:
  console: critical
  monitor: disabled
  buffered:
    size: 180000
    level: informational
  trap: warnings
  synchronous:
    level: critical
  format:
    timestamp: high-resolution
#    hostname: <str>
    sequence_numbers: true
#  facility: <str>
  source_interface: Loopback10
#  vrfs:
#    - name: <str>
#      source_interface: <str>
#      hosts:
#        - name: <str>
#          protocol: <str>
#          ports:
#            - <int>
  policy:
    match:
      match_lists:
        - name: SAKlogs
          action: discard
#  event:
#    storm_control:
#      discards:
#        global: <bool>
#        interval: <int>

# match-list input
match_list_input:
  string:
    - name: SAKlogs
      sequence_numbers:
        - sequence: 10
          match_regex: MKA-6-SAK_ACTIVATED
        - sequence: 20
          match_regex: MKA-6-SAK_CREATED
        - sequence: 30
          match_regex: MKA-5-STATE_CHG
        - sequence: 40
          match_regex: MKA-3-SESSION_FAILURE

#Management parameters using default due to ACT backend limitations
mgmt_interface_vrf: default
mgmt_gateway: null

#TerminAttr configuration
custom_structured_configuration_daemon_terminattr:
  cvaddrs: # For single cluster
    - 192.168.0.5:9910
  # Authentication scheme used to connect to CloudVision
  cvauth:
    method: "token"
    token_file: "/tmp/token"
  ingestexclude: "/Sysdb/cell/1/agent,/Sysdb/cell/2/agent"
  smashexcludes: "ale,flexCounter,hardware,kni,pulse,strata"

# NTP Servers
custom_structured_configuration_ntp:
  servers:
  - name: 0.north-america.pool.ntp.org
    preferred: True
    vrf: default
  - name: 1.north-america.pool.ntp.org
    vrf: default

FABRIC_BGP_DEFAULTS:
  - bgp asn notation asdot
  - bgp always-compare-med

# Set dynamic IP for inband management interface loopback 10 that matches the last octed of the management port
mgmt_loopback_ipv4_pool: "192.168.101.0/24"
custom_structured_configuration_loopback_interfaces:
  - name: Loopback10
    description: Inband management
    ip_address: "{{ mgmt_loopback_ipv4_pool | ansible.utils.ipmath((management_interfaces[0]['ip_address'] | string | ansible.utils.ipaddr('address')).split('.')[3]) }}/32"
