# WAN links
l3_edge:
  p2p_links_ip_pools:
    - name: WAN_pool
      ipv4_pool: 10.1.0.0/24
      prefix_size: 31
  p2p_links:
    - id: 1
      nodes:
        - SF-SITE-101-BL-1
        - SF-SITE-104-BL-1
      interfaces:
        - Ethernet10
        - Ethernet10
      # macsec_profile: Backbone
      ip_pool: WAN_pool
    - id: 2
      nodes:
        - SF-SITE-101-BL-1
        - SF-SITE-102-BL-1
      interfaces:
        - Ethernet9
        - Ethernet9
      # macsec_profile: Backbone
      ip_pool: WAN_pool
    - id: 3
      nodes:
        - SF-SITE-101-BL-2
        - SF-SITE-103-BL-1
      interfaces:
        - Ethernet9
        - Ethernet9
      # macsec_profile: Backbone
      ip_pool: WAN_pool
    - id: 4
      nodes:
        - SF-SITE-104-BL-1
        - SF-SITE-102-BL-1
      interfaces:
        - Ethernet6
        - Ethernet3
      # macsec_profile: Backbone
      ip_pool: WAN_pool
    - id: 5
      nodes:
        - SF-SITE-102-BL-2
        - SF-SITE-103-BL-1
      interfaces:
        - Ethernet10
        - Ethernet10
      # macsec_profile: Backbone
      ip_pool: WAN_pool
