---
# SF_101 border leafs

type: pe

pe:
  defaults:
    platform: vEOS-lab
    loopback_ipv4_pool: 100.1.2.0/24
    mpls_route_reflectors: [ SF_SITE_101_RR-1 ]
  nodes:
    - name: SF_SITE_101_BL-1
      id: 1
      mgmt_ip: 192.168.0.14/24
    - name: SF_SITE_101_BL-2
      id: 2
      mgmt_ip: 192.168.0.15/24
