---
# SF_101 border leafs

type: pe

pe:
  defaults:
    platform: vEOS-lab
    loopback_ipv4_pool: 100.2.2.0/24
    mpls_route_reflectors: [ SF-SITE-101-RR-1, SF-SITE-102-RR-1 ]
    bgp_defaults: "{{ FABRIC_BGP_DEFAULTS }}"
    isis_system_id_prefix: "1921.6800"
    structured_config: "{{ PE_BGP_STRUCTURED_CONFIG }}"
    raw_eos_cli: "{{ PE_EOS_CLI }}"
    filter:
      tags: [ site102 ]
  nodes:
    - name: SF-SITE-102-BL-1
      id: 21
      mgmt_ip: 192.168.0.21/24
    - name: SF-SITE-102-BL-2
      id: 22
      mgmt_ip: 192.168.0.22/24
