---
# SF_104 border leafs

type: pe

pe:
  defaults:
    platform: vEOS-lab
    loopback_ipv4_pool: 100.3.2.0/24
    mpls_route_reflectors: [ SF-SITE-101-RR-1, SF-SITE-102-RR-1 ]
    bgp_defaults: "{{ FABRIC_BGP_DEFAULTS }}"
    isis_system_id_prefix: "1921.6800"
    structured_config: "{{ PE_BGP_STRUCTURED_CONFIG }}"
    raw_eos_cli: "{{ PE_EOS_CLI }}"
  nodes:
    - name: SF-SITE-103-BL-1
      id: 1
      mgmt_ip: 192.168.0.25/24
