---
# SF_101 border leafs

type: pe

pe:
  defaults:
    platform: vEOS-lab
    loopback_ipv4_pool: 100.2.2.0/24
    mpls_route_reflectors: [ SF_SITE_101_RR-1, SF_SITE_102_RR-1 ]
    bgp_defaults: "{{ FABRIC_BGP_DEFAULTS }}"
    structured_config: "{{ PE_BGP_STRUCTURED_CONFIG }}"
  nodes:
    - name: SF_SITE_102_BL-1
      id: 1
      mgmt_ip: 192.168.0.21/24
    - name: SF_SITE_102_BL-2
      id: 2
      mgmt_ip: 192.168.0.22/24
