---
# Simulation of customer edge devices

type: ce

ce:
  defaults:
    platform: vEOS-lab
    spanning_tree_mode: mstp
  nodes:
    - name: BRANCH-A2A-CE6
      id: 1
      mgmt_ip: 192.168.0.38/24
    - name: CORP-A2A-CE6
      id: 3
      mgmt_ip: 192.168.0.39/24

# DOES NOT PROVIDE THE INTENDED OUTCOME. IP ROUTING IS NOT CONFIGURED ON ROUTER
vrfs:
  - name: default
    ip_routing: true
# IP ROUTING CONFIGURATION
custom_structured_configuration_ip_routing: true
