---
# SF_101 spines

type: p

p:
  defaults:
    platform: vEOS-lab
    loopback_ipv4_pool: 100.1.0.0/24
    mpls_route_reflectors: [ SF-SITE-101-RR-1, SF-SITE-102-RR-1 ]
    bgp_defaults: "{{ FABRIC_BGP_DEFAULTS }}"
    isis_system_id_prefix: "1921.6800"
    raw_eos_cli: "{{ PE_EOS_CLI }}"
  nodes:
  - name: SF-SITE-101-SPINE-1
    id: 11
    mgmt_ip: 192.168.0.11/24
  - name: SF-SITE-101-SPINE-2
    id: 12
    mgmt_ip: 192.168.0.12/24
