---
type: ethernet_aggregation

ethernet_aggregation:
  defaults:
    platform: vEOS-lab
    spanning_tree_mode: mstp
  nodes:
    - name: SF_SITE_101_TOR-1A
      id: 1
      mgmt_ip: 192.168.0.16/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF_SITE_101_BL-1
        - SF_SITE_101_BL-1
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12
    - name: SF_SITE_101_TOR-1B
      id: 2
      mgmt_ip: 192.168.0.17/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF_SITE_101_BL-2
        - SF_SITE_101_BL-2
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12

# Customer edge connectivity
cpes:
  - name: BRANCH-A2A-CE1
    adapters:
      - switches:
          - SF_SITE_101_TOR-1A
        switch_ports:
          - Ethernet7
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 100
  - name: CORP-A2A-CE1
    adapters:
      - switches:
          - SF_SITE_101_TOR-1A
        switch_ports:
          - Ethernet8
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 101
  - name: BRANCH-A2A-CE2
    adapters:
      - switches:
          - SF_SITE_101_TOR-1B
        switch_ports:
          - Ethernet7
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 100
  - name: CORP-A2A-CE2
    adapters:
      - switches:
          - SF_SITE_101_TOR-1B
        switch_ports:
          - Ethernet8
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 101
