---
type: ethernet_aggregation

ethernet_aggregation:
  defaults:
    platform: vEOS-lab
    spanning_tree_mode: mstp
    uplink_structured_config:
      service_policy:
        qos:
          input: TENANT-INGRESS-CLASSIFIER-1G
      qos:
        trust: dscp
  nodes:
    - name: SF_SITE_102_TOR-1A
      id: 1
      mgmt_ip: 192.168.0.23/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF_SITE_102_BL-1
        - SF_SITE_102_BL-1
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12
    - name: SF_SITE_102_TOR-1B
      id: 2
      mgmt_ip: 192.168.0.24/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF_SITE_102_BL-2
        - SF_SITE_102_BL-2
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12

# Customer edge connectivity
cpes:
  - name: BRANCH-A2A-CE3
    adapters:
      - switches:
          - SF_SITE_102_TOR-1A
        switch_ports:
          - Ethernet7
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 102
  - name: CORP-A2A-CE3
    adapters:
      - switches:
          - SF_SITE_102_TOR-1A
        switch_ports:
          - Ethernet8
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 202
  - name: BRANCH-A2A-CE4
    adapters:
      - switches:
          - SF_SITE_102_TOR-1B
        switch_ports:
          - Ethernet7
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 103
  - name: CORP-A2A-CE4
    adapters:
      - switches:
          - SF_SITE_102_TOR-1B
        switch_ports:
          - Ethernet8
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 203
