---
type: ethernet_aggregation
ethernet_aggregation:
  defaults:
    platform: vEOS-lab
    spanning_tree_mode: mstp
    uplink_structured_config:
      service_policy:
        qos:
          input: TENANT-INGRESS-CLASSIFIER-1G
      qos:
        trust: dscp
  nodes:
    - name: SF-SITE-101-TOR-1A
      id: 1
      mgmt_ip: 192.168.0.16/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF-SITE-101-BL-1
        - SF-SITE-101-BL-1
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12
    - name: SF-SITE-101-TOR-1B
      id: 2
      mgmt_ip: 192.168.0.17/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF-SITE-101-BL-2
        - SF-SITE-101-BL-2
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12
# Customer edge connectivity
cpes:
  - name: BRANCH-A2A-CE1
    adapters:
      - switches:
          - SF-SITE-101-TOR-1A
        switch_ports:
          - Ethernet7
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 100
  - name: CORP-A2A-CE1
    adapters:
      - switches:
          - SF-SITE-101-TOR-1A
        switch_ports:
          - Ethernet8
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 200
  - name: BRANCH-VPWS-CE1
    adapters:
      - switches:
          - SF-SITE-101-TOR-1A
        switch_ports:
          - Ethernet1
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 99
  - name: BRANCH-VPWS-CE1
    adapters:
      - switches:
          - SF-SITE-101-TOR-1A
        switch_ports:
          - Ethernet1
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 99
  - name: BRANCH-A2A-CE2
    adapters:
      - switches:
          - SF-SITE-101-TOR-1B
        switch_ports:
          - Ethernet7
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 101
  - name: CORP-A2A-CE2
    adapters:
      - switches:
          - SF-SITE-101-TOR-1B
        switch_ports:
          - Ethernet8
        endpoint_ports:
          - Ethernet1
        mode: access
        vlans: 201

