---
type: ethernet_aggregation

ethernet_aggregation:
  defaults:
    platform: vEOS-lab
    spanning_tree_mode: mstp
  nodes:
    - name: SF_SITE_102_TOR-1A
      id: 1
      mgmt_ip: 192.168.0.23/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF_SITE_102_BL-1
        - SF_SITE_102_BL-1
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12
    - name: SF_SITE_102_TOR-1B
      id: 2
      mgmt_ip: 192.168.0.24/24
      uplink_interfaces:
        - Ethernet3
        - Ethernet4
      uplink_switches:
        - SF_SITE_102_BL-2
        - SF_SITE_102_BL-2
      uplink_switch_interfaces:
        - Ethernet11
        - Ethernet12
