---
- name: Build Switch configuration
  hosts: AVD_FABRIC
  connection: local
  gather_facts: no

  tasks:
    - name: generate intended variables
      tags: [ build ]
      import_role:
        name: arista.avd.eos_designs
    - name: generate device intended config and documentation
      tags: [ build ]
      import_role:
        name: arista.avd.eos_cli_config_gen

- name: Configuration deployment with CVP
  hosts: CVP
  connection: local
  gather_facts: no

  tasks:
    - name: run CVP provisioning
      tags: [ provision ]
      import_role:
        name: arista.avd.eos_config_deploy_cvp
      vars:
        container_root: 'AVD_FABRIC'
        configlets_prefix: 'AVD'
        container_apply_mode: strict
        device_apply_mode: strict
        state: present

- name: Reset devices on CVP
  hosts: CVP
  connection: local
  gather_facts: no
  collections:
    - arista.cvp
  tasks:
    - name: Collect Facts
      tags: [ reset]
      arista.cvp.cv_facts_v3:
        facts:
          # - configlets
          # - containers
          - devices
      register: FACTS_DEVICES
      
    - name: Remove devices from the provisioning
      # device will be automatically re-registered and moved to the Undefined containe
      tags: [ reset ]
      arista.cvp.cv_device_v3:
        devices: "{{ FACTS_DEVICES['data']['cvp_devices']}}"
        state: provisioning_reset
    # - name: Debug Facts
    #   tags: [ reset ]
    #   vars:
    #     configletIds: "{{ FACTS_DEVICES['data']['cvp_devices']}}"
    #   debug: 
    #     var: configletIds

    - name: Register last commit id 
      tags: [ provision ]
      command: "git rev-parse --short HEAD"
      register: last_commit_id

    - name: Register feature branch
      tags: [ provision ]
      command: "git branch --show-current"
      register: branch_name
    - name: Bundle the generated tasks into a Change Control in CloudVision
      vars:
        taskIds: "{{ cvp_configlets_status.taskIds }}"
        activities_list: |
          [ {% for task in taskIds %}  {'task_id': "{{ task }}", 'stage': 'main'} {% if not loop.last %}, {% endif %} {% endfor %} ] 
        change_name: "{{branch_name + '-' + last_commit_id}}"
      tags: [ provision ]
      arista.cvp.cv_change_control_v3:
        state: set
        name: "{{ change_name.stdout }}"
        change:
          stages:
            - name: main
              mode: parallel
          activities: "{{ activities_list }}"
