BRANCH:
  - name: BRANCH
    pseudowire_rt_base: 5000
    mac_vrf_id_base: 5000
    point_to_point_services:
      - name: SF_SITE_101_BL-1-SF_SITE_102_BL-1
        type: vpws-pseudowire
        subinterfaces:
          - number: 99
        endpoints:
          - id: 1
            nodes:
              - SF-SITE-101-BL-1
            interfaces:
              - Port-channel11
          - id: 2
            nodes:
              - SF-SITE-102-BL-1
            interfaces:
              - Port-channel11
    vrfs:
      - name: BRANCH-10011
        vrf_vni: 10011
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.100
            encapsulation_dot1q_vlan:
              - 100
            ip_addresses:
              - 10.255.101.0/31
            nodes:
              - SF-SITE-101-BL-1
            structured_config:
              service_policy:
                qos:
                  input: TENANT-INGRESS-CLASSIFIER-1G
              qos:
                trust: disabled
            raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.101.1
            remote_as: 65501
            bfd: true
            nodes:
              - SF-SITE-101-BL-1
      - name: BRANCH-10013
        vrf_vni: 10013
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.101
            encapsulation_dot1q_vlan:
              - 101
            ip_addresses:
              - 10.255.101.2/31
            nodes:
              - SF-SITE-101-BL-2
            # structured_config:
            #   service_policy:
            #     qos:
            #       input: TENANT-INGRESS-CLASSIFIER-1G
            #   qos:
            #     trust: disabled
            # raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.101.3
            remote_as: 65502
            bfd: true
            nodes:
              - SF-SITE-101-BL-2
      - name: BRANCH-10015
        vrf_vni: 10015
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.102
            encapsulation_dot1q_vlan:
              - 102
            ip_addresses:
              - 10.255.102.0/31
            nodes:
              - SF-SITE-102-BL-1
            # structured_config:
            #   service_policy:
            #     qos:
            #       input: TENANT-INGRESS-CLASSIFIER-1G
            #   qos:
            #     trust: disabled
            # raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.102.1
            remote_as: 65503
            bfd: true
            nodes:
              - SF-SITE-102-BL-1
      - name: BRANCH-10017
        vrf_vni: 10017
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.103
            encapsulation_dot1q_vlan:
              - 103
            ip_addresses:
              - 10.255.102.2/31
            nodes:
              - SF-SITE-102-BL-2
            # structured_config:
            #   service_policy:
            #     qos:
            #       input: TENANT-INGRESS-CLASSIFIER-1G
            #   qos:
            #     trust: disabled
            # raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.102.3
            remote_as: 65504
            bfd: true
            nodes:
              - SF-SITE-102-BL-2
      - name: BRANCH-10019
        vrf_vni: 10019
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.104
            encapsulation_dot1q_vlan:
              - 104
            ip_addresses:
              - 10.255.103.0/31
            nodes:
              - SF-SITE-102-BL-2
            # structured_config:
            #   service_policy:
            #     qos:
            #       input: TENANT-INGRESS-CLASSIFIER-1G
            #   qos:
            #     trust: disabled
            # raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.103.1
            remote_as: 65505
            bfd: true
            nodes:
              - SF-SITE-103-BL-1
      - name: BRANCH-10020
        vrf_vni: 10020
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Ethernet7
            ip_addresses:
              - 10.255.104.0/31
            nodes:
              - SF-SITE-103-BL-1
            # structured_config:
            #   service_policy:
            #     qos:
            #       input: TENANT-INGRESS-CLASSIFIER-1G
            #   qos:
            #     trust: disabled
            # raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.104.1
            remote_as: 65506
            bfd: true
            nodes:
              - SF-SITE-103-BL-1
    l2vlans:
      - id: 100
        name: vlan_100
        vxlan: false
        tags: [ site101 ]
      - id: 101
        name: vlan_101
        vxlan: false
        tags: [ site101 ]
      - id: 102
        name: vlan_102
        vxlan: false
        tags: [ site102 ]
      - id: 103
        name: vlan_103
        vxlan: false
        tags: [ site102 ]
      - id: 104
        name: vlan_104
        vxlan: false
        tags: [ site103 ]
