CORP:
  - name: CORP
    mac_vrf_id_base: 6000
    vrfs:
      - name: CORP-10012
        vrf_vni: 10012
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.200
            encapsulation_dot1q_vlan:
              - 200
            ip_addresses:
              - 10.255.101.4/31
            nodes:
              - SF_SITE_101_BL-1
            structured_config:
              service_policy:
                qos:
                  input: TENANT-INGRESS-CLASSIFIER-1G
            raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.101.5
            remote_as: 65502
            bfd: true
            nodes:
              - SF_SITE_101_BL-1
      - name: CORP-10014
        vrf_vni: 10014
        address_families:
          - vpn-ipv4
          - vpn-ipv6
        bgp:
          structured_config:
            eos_cli: |
              bgp additional-paths receive
              bgp additional-paths send any
              bgp bestpath tie-break router-id
            address_family_ipv4:
              bgp:
                additional_paths:
                  install: true
        l3_interfaces:
          - interfaces:
              - Port-channel11.201
            encapsulation_dot1q_vlan:
              - 201
            ip_addresses:
              - 10.255.101.6/31
            nodes:
              - SF_SITE_101_BL-2
            structured_config:
              service_policy:
                qos:
                  input: TENANT-INGRESS-CLASSIFIER-1G
            raw_eos_cli: "{{ interface_qos_profiles_1G }}"
        bgp_peers:
          - ip_address: 10.255.101.3
            remote_as: 65504
            bfd: true
            nodes:
              - SF_SITE_101_BL-2
    l2vlans:
      - id: 200
        name: vlan_200
        vxlan: false
        tags: [ site101 ]
      - id: 201
        name: vlan_201
        vxlan: false
        tags: [ site101 ]
      - id: 202
        name: vlan_202
        vxlan: false
        tags: [ site102 ]
      - id: 203
        name: vlan_203
        vxlan: false
        tags: [ site102 ]
